@font-face {
  font-family: "Fraunces-9pt";
  src: url("../fonts/Fraunces_9pt-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
