/* normalize-css */
@import "./normalize/normalize.css";

/* connection of css */
@import "./fonts.css";

/* connection of blocks */
@import "./blocks/home.css";
@import "./blocks/about.css";

/* variables */
:root {
  --primary-font-family: "Barlow";
  --secondary-font-family: "Fraunces-9pt";
  --primary-text-color: #333d4b;
  --secondary-text-color: #fefcf7;
  --primary-bg-color: #0e8784;
  --secondary-bg-color: #2c343e;
}

/* general-css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font-family);
}

/* For optimisitio- SEO */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: none;
  clip: rect(0 0 0 0);
}

/* The code of making container */
.container {
  max-width: 1310px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

/* header */

.header {
  margin-top: 43px;
  margin-bottom: 43px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 33px;

  list-style: none;
}

.header__link {
  position: relative;

  padding-bottom: 3px;
  font-weight: 700;
  font-size: 12px;
  color: #83888f;
  text-decoration: none;

  text-transform: uppercase;
  letter-spacing: 0.923077px;
  line-height: 15px;

  transition: all 0.5s linear;
}

.header__link::after {
  content: "";
  position: absolute;
  visibility: none;

  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;

  border-radius: 5px;
  background-color: #333d4b;

  transform: scaleX(0);
  transition: 0.3s linear;
}

.header__link:hover {
  color: #333d4b;
}

.header__link:hover::after {
  color: #333d4b;
  visibility: block;
  transform: scaleX(1);
}

.header__link:active {
  color: crimson;
}

/* footer */

.footer {
  margin-bottom: 135px;
  padding: 47px 85px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2c343e;
}

.footer__wrapper {
  display: flex;
  gap: 103px;
}

.footer__list {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
}

.footer__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  letter-spacing: 0.923077px;
  text-transform: uppercase;
  text-decoration: none;

  color: #83888f;
}

.footer__link:hover {
  color: var(--secondary-text-color);
}

.footer__icons {
  display: flex;
  gap: 24px;
}
