.collection {
  position: relative;
  margin-bottom: 200px;
  margin-top: 136px;

  display: flex;
  justify-content: space-between;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 196px;
    top: -130px;

    background-image: url("../images/collection-bg.png");
    background-repeat: no-repeat;
    z-index: -1;
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__img {
    margin-bottom: 71px;
  }

  &__title {
    margin-bottom: 24px;

    font-family: $secondary-font-family;
    font-size: 24px;
    text-align: center;
    line-height: 32px;

    color: $primary-text-color;
  }

  &__discr {
    width: 255px;

    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 26px;
  }
}

@include media($xl) {
  .collection {
    margin-top: 144px;
    margin-bottom: 144px;

    flex-direction: column;

    &::before {
      width: 100%;
      background-size: contain;
    }

    &__items {
      margin-bottom: 32px;

      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 36px;
    }

    &__img {
      margin-bottom: 0;
    }

    &__discr {
      max-width: 282px;
      width: 100%;
    }
  }
}

@include media($sm) {
  .collection {
    margin-top: 120px;
    margin-bottom: 120px;

    &::before {
      margin-bottom: 20px;
      max-width: 375px;
      width: 100%;
      min-height: 72px;
      top: -70px;
    }

    &__items {
      margin-bottom: 48px;

      flex-direction: column;
    }
  }
}
