.commitment {
  margin-bottom: 168px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 125px;

  @include media($xl) {
    gap: 100px;
  }
  @include media($xl) {
    gap: 69px;
  }
  @include media($md) {
    margin-bottom: 144px;
    align-items: flex-start;
    gap: 45px;
  }
  @include media(670) {
    width: 100%;
    margin-bottom: 120px;
    flex-direction: column;
    align-items: center;
  }

  &__details {
    display: flex;
    flex-direction: column;
  }

  &__img {
    @include media($lg) {
      object-position: center;
      max-width: 281px;
      width: 100%;
    }
    @include media(670) {
      object-position: center;
      max-width: 100%;
      min-height: 400px;
    }
  }

  &__title {
    margin-bottom: 32px;
    font-family: $secondary-font-family;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    color: $primary-text-color;

    line-height: 48px;

    @include media($md) {
      margin-bottom: 30px;
      font-size: 32px;
      line-height: 48px;
    }
    @include media($sm) {
      text-align: center;
    }
  }

  &__text {
    max-width: 540px;
    width: 100%;

    font-weight: 400;
    font-size: 16px;
    color: #333d4b;

    mix-blend-mode: normal;
    line-height: 26px;
    opacity: 0.8;

    @include media($md) {
      font-size: 15px;
      text-align: center;
      line-height: 25px;
    }
  }
}
