.headquarters {
  margin-bottom: 168px;

  @include media($md) {
    margin-bottom: 144px;
  }

  &__title {
    margin-bottom: 72px;

    font-family: $secondary-font-family;
    font-size: 24px;
    color: #83888f;

    line-height: 32px;

    @include media($sm) {
      text-align: center;
    }
  }

  &__wrapper {
    width: 100%;
    display: flex;
    gap: 95px;

    @include media($md) {
      gap: 9px;
    }
    @include media($sm) {
      flex-direction: column;
      align-items: center;
      gap: 80px;
    }
  }

  &__items {
    max-width: 285px;
    width: 100%;

    @include media($sm) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__img {
    margin-bottom: 45px;

    @include media($md) {
      margin-bottom: 40px;
    }
  }

  &__items__title {
    margin-bottom: 24px;

    font-family: $secondary-font-family;
    font-size: 32px;
    line-height: 36px;

    color: $primary-text-color;

    @include media($md) {
      margin-bottom: 21px;
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    margin-bottom: 13px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: $primary-text-color;
  }
}
