.hero {
  width: 100%;
  min-height: 600px;
  padding: 117px 0px 117px 85px;
  border-radius: 8px;
  background-image: url("../images/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;

  &--about {
    min-height: 450px;
    margin-bottom: 168px;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url("../../images/about-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--subscribe {
    margin-bottom: 177px;
    width: 100%;

    background-image: url("../../images/create-bg.png");

    .hero__title {
      margin-bottom: 32px;

      font-family: $secondary-font-family;
      font-weight: 900;
      font-size: 72px;
      color: #fefcf7;

      line-height: 72px;
    }
  }

  &__title {
    width: 493px;
    margin-bottom: 32px;

    font-size: 72px;
    font-family: $secondary-font-family;
    color: $secondary-text-color;
    line-height: 72px;

    &--modify {
      margin-left: 85px;
      margin-bottom: 24px;

      font-family: $secondary-font-family;
      font-style: normal;
      font-weight: 900;
      font-size: 40px;
      color: $secondary-text-color;
      line-height: 48px;
    }
  }

  &__text {
    width: 445px;
    margin-bottom: 56px;

    font-size: 16px;
    color: $secondary-text-color;
    line-height: 26px;

    mix-blend-mode: normal;
    opacity: 0.8;

    &--discr {
      width: 445px;
      margin-left: 85px;

      font-weight: 400;
      font-size: 16px;
      color: $secondary-text-color;

      line-height: 26px;
    }
  }

  &__btn {
    padding: 15px 31px;
    border-radius: 6px;

    background: #66d2cf;
    font-family: $secondary-font-family;
    font-size: 18px;
    color: #fefcf7;
    text-align: center;
    text-decoration: none;

    line-height: 25px;
    transition: all 0.5s linear;

    &:hover {
      box-shadow: 3px 3px 6px 6px rgba(211, 207, 207, 0.16);
    }
    &:active {
      background-color: rgb(107, 73, 73);
      transition: none;
    }
  }
}

@include media($md) {
  .hero {
    padding: 104px 58px;
    min-height: 500px;
    background-position: center;

    &__title {
      margin-bottom: 24px;

      max-width: 329px;
      width: 100%;

      font-size: 48px;
      line-height: 48px;
    }

    &__text {
      max-width: 398px;
      width: 100%;
      margin-bottom: 40px;

      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
    }

    &__btn {
      background: #0e8784;
      border-radius: 6px;
    }
  }
}

@include media($sm) {
  .hero {
    padding: 100px 24px;
    background-position: center;

    &__title {
      max-width: 279px;
      width: 100%;

      font-size: 40px;
      line-height: 40px;
    }

    &__text {
      max-width: 279px;
      width: 100%;

      font-size: 15px;
      line-height: 25px;
    }
  }
}

@include media(376) {
  .hero__title {
    margin-bottom: 15px;
    font-size: 32px;
    line-height: 35px;
  }

  .hero__text {
    margin-bottom: 25px;

    font-size: 12px;
    line-height: 20px;
  }
}
