.order {
  display: flex;
  justify-content: center;
  gap: 125px;

  @include media(1100) {
    gap: 80px;
  }

  &__left {
    @include media($lg) {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    list-style-type: none;
  }

  &__item {
    border-bottom: 1px solid #83888f;
    display: flex;
    gap: 28px;

    &:last-child {
      border-bottom: none;
    }
  }

  &__num {
    @extend %span-link;

    &--color {
      color: #0e8784;
    }
  }

  &__link {
    @extend %span-link;
    text-decoration: none;

    &--color {
      color: #333d4b;
    }
  }

  .wrapper-div {
    margin-bottom: 88px;
    &__top {
      margin-bottom: 56px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include media($sm) {
        align-items: flex-start;
      }
    }

    &__title {
      font-family: $secondary-font-family;
      font-size: 40px;
      color: #83888f;

      line-height: 48px;

      @include media($md) {
        font-size: 32px;
        line-height: 48px;
      }

      @include media($sm) {
        max-width: 240px;
        width: 100%;
        font-size: 24px;
        line-height: 28px;
      }
    }

    &__bottom {
      display: flex;
      align-items: center;
      gap: 23px;

      @include media($md) {
        gap: 10px;
        justify-content: space-between;
      }
      @include media($sm) {
        flex-direction: column;
      }
    }

    &__card {
      padding: 32px 28px 84px 28px;
      background: #f4f1eb;
      border-radius: 8px;

      transition: all 0.4s linear;
      cursor: pointer;

      @include media($md) {
        padding: 32px 26px;
        max-width: 223px;
        width: 100%;
        min-height: 250px;
      }
      @include media($sm) {
        max-width: 100%;
        min-height: 140px;
      }

      &--bg {
        background: #0e8784;
        transition: all 0.4s linear;

        .wrapper-div__titl {
          color: #ffffff;
        }
        .wrapper-div__descr {
          color: #fefcf7;
        }

        &:hover {
          .wrapper-div__titl,
          .wrapper-div__descr {
            color: #000;
          }
        }
      }

      &:hover {
        background: #fdd6ba;
      }
    }

    &__titl {
      margin-bottom: 24px;

      font-family: $secondary-font-family;
      font-size: 24px;

      color: $primary-text-color;
      line-height: 32px;

      @include media($md) {
        font-size: 24px;
        line-height: 32px;
      }
    }

    &__descr {
      max-width: 172px;
      width: 100%;

      font-weight: 400;
      font-size: 16px;

      color: #333d4b;
      line-height: 26px;

      @include media($md) {
        font-size: 16px;
        line-height: 26px;
      }

      @include media($sm) {
        max-width: 100%;
      }
    }
  }

  .summary {
    padding: 27px 64px;
    background: #2c343e;
    border-radius: 10px;

    @include media($sm) {
      padding: 32px 24px;
    }

    &__subtitle {
      margin-bottom: 8px;

      font-weight: 400;
      font-size: 16px;
      color: #ffffff;

      text-transform: uppercase;

      line-height: 26px;
      mix-blend-mode: normal;
      opacity: 0.5;
    }

    &__quote {
      max-width: 602px;
      width: 100%;

      font-family: $secondary-font-family;
      font-size: 24px;

      color: #ffffff;
      line-height: 40px;

      span {
        color: #0e8784;
      }
    }
  }

  &__right__button {
    margin-top: 40px;
    margin-bottom: 168px;

    display: flex;
    justify-content: flex-end;

    @include media($sm) {
      margin-bottom: 100px;
      justify-content: center;
    }
  }

  &__right-btn {
    padding: 15px 35px;
    border-radius: 6px;

    background: #0e8784;
    font-family: $secondary-font-family;
    font-size: 18px;
    color: #fefcf7;
    text-align: center;
    text-decoration: none;

    line-height: 25px;
    transition: all 0.4s linear;

    &:hover {
      background: #66d2cf;
    }
  }
}
