// general-css-codes

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: $primary-font-family;
  overflow-x: hidden;
}

/* For optimisitio- SEO */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: none;
  clip: rect(0 0 0 0);
}

/* The code of making container */
.container {
  max-width: 1320px;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}
